/*
#############################
############FONTS############
#############################
*/

@font-face {
    font-family: 'oswall';
    src: url('../resources/fonts/oswall/oswall-regular.eot');
    src: url('../resources/fonts/oswall/oswall-regular.eot?#iefix') format('embedded-opentype'),
         url('../resources/fonts/oswall/oswall-regular.woff') format('woff'),
         url('../resources/fonts/oswall/oswall-regular.ttf') format('truetype'),
         url('../resources/fonts/oswall/oswall-regular.svg#oswall') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
##################################
############ANIMATIONS############
##################################
*/

@keyframes dropPresent {
	0% {margin: 70px 0px 0px 0px; opacity: 0; font-size: 77px;}
	100% {margin: 181px 0px 0px 0px; opacity: 1; font-size: 123px;}
}
/*Safari & Chromium*/
@-webkit-keyframes dropPresent {
	0% {margin: 70px 0px 0px 0px; opacity: 0; font-size: 77px;}
	100% {margin: 181px 0px 0px 0px; opacity: 1; font-size: 111px;}
}

@keyframes invisToVis {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
/*Safari & Chromium*/
@-webkit-keyframes invisToVis {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes visToInvis {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
/*Safari & Chromium*/
@-webkit-keyframes visToInvis {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

/*
#################################
############UNIVERSAL############
#################################
*/

body {
	cursor: default;
	font-family: 'oswall';
	background-color: #101010;
	color: #AAAAAA;
	text-align: center;
	font-size: 24px;
}

::selection {
	background-color: transparent;
}

a {
	cursor: default;
	color: #BBBBBB;
	text-decoration: none;
}

hr {
	border: 1px solid #888888;
}

p {
	display: none;
	opacity: 0;
}

.container {
	margin-top: 171px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	height: auto;
	width: 777px;
	font-size: 18px;
	text-align: left;
}

.aLink {
	color: #536878;
}

.aLink:hover {
	color: #AAAAAA;
}

/*
#####################################
############NOTIFICATIONS############
#####################################
*/

.noJavaNotify {
	margin: -8px auto 8px auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 3px;
	height: auto;
	width: 666px;
	background-color: #D36B69;
	color: #000000;
	border-color: #A6A6A6;
	border-style: ridge;
	border-width: 3px;
	text-align: center;
	font-size: 16px;
}

#oldIENotify {
	margin: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 3px;
	height: auto;
	width: 666px;
	background-color: #F8D86A;
	color: #000000;
	border-color: #A6A6A6;
	border-style: ridge;
	border-width: 3px;
	text-align: center;
	font-size: 16px;
}

#oldIENotify a {
	color: #000000;
}

#notifyBtn {
	display: inline-block;
	float: right;
	margin-top: 1px;
	margin-right: -1px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 1px;
	padding-left: 4px;
	border-style: outset;
	border-color: #4A4B4C;
	border-width: 1px;
	border-radius: 3px;
	text-align: center;
	font-size: 16px;
	color: #000000;
}

/*
###########################################
############NOSCRIPT&OLDBROWSER############
###########################################
*/

.browserIcons {
	text-align: center;
	font-size: 16px;
}

.sectionBorder {
	width: 282px;
	border-color: #4A4B4C;
	border-radius: 33px;
	border-width: 1px;
	border-top-style: transparent;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: transparent;
}

.sectionTitle {
	display: inline-block;
	vertical-align: middle;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	font-size: 24px;
}

.instructions {
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 44px;
	font-size: 16px;
}

.instructions li {
	padding-bottom: 3px;
}

.centerLink {
	text-align: center;
	padding-top:12px;
}

/*
#############################
############INTRO############
#############################
*/

#introFadeBox {
	position: absolute;
	top: -24px;
	height: 333px;
	width: 80%;
	background-color: #101010;
}

#introTextArea {
	z-index: -1;
	box-shadow: 0px 0px 12px #888888;
	text-shadow: 0px 0px 1px #536878;
	margin-top: 33px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding: 8px;
	height: 212px;
	width: 484px;
	border-style: solid;
	border-radius: 3px;
	border-width: 3px;
	border-color: #888888;
	font-size: 24px;
	line-height: ;
	word-wrap: break-word;
	text-align: left;
	color: #536878;
}

.intro {
	height: 0px;
	font-size: 77px;
	animation-name: dropPresent;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	/*Safari & Chromium*/
	-webkit-animation-name: dropPresent;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
}